body{
background: rgba(134,216,34,1);
background: -moz-linear-gradient(left, rgba(134,216,34,1) 0%, rgba(134,216,34,1) 24%, rgba(93,207,58,1) 25%, rgba(93,207,58,1) 54%, rgba(93,207,58,1) 71%, rgba(93,207,58,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,216,34,1)), color-stop(24%, rgba(134,216,34,1)), color-stop(25%, rgba(93,207,58,1)), color-stop(54%, rgba(93,207,58,1)), color-stop(71%, rgba(93,207,58,1)), color-stop(100%, rgba(93,207,58,1)));
background: -webkit-linear-gradient(left, rgba(134,216,34,1) 0%, rgba(134,216,34,1) 24%, rgba(93,207,58,1) 25%, rgba(93,207,58,1) 54%, rgba(93,207,58,1) 71%, rgba(93,207,58,1) 100%);
background: -o-linear-gradient(left, rgba(134,216,34,1) 0%, rgba(134,216,34,1) 24%, rgba(93,207,58,1) 25%, rgba(93,207,58,1) 54%, rgba(93,207,58,1) 71%, rgba(93,207,58,1) 100%);
background: -ms-linear-gradient(left, rgba(134,216,34,1) 0%, rgba(134,216,34,1) 24%, rgba(93,207,58,1) 25%, rgba(93,207,58,1) 54%, rgba(93,207,58,1) 71%, rgba(93,207,58,1) 100%);
background: linear-gradient(to right, rgba(134,216,34,1) 0%, rgba(134,216,34,1) 24%, rgba(93,207,58,1) 25%, rgba(93,207,58,1) 54%, rgba(93,207,58,1) 71%, rgba(93,207,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86d822', endColorstr='#5dcf3a', GradientType=1 );
}
.white{
	color: #FFFFFF;
}